doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    title Factura Electrónica
    // Incluir estilos CSS aquí
    style.
      #{css}
  body
    header
      h1 #{Emisor.NombreComercial}
      p #{Emisor.nombre}
      p Ced Jur: #{Emisor.tipoDeIdentificacion} #{Emisor.identificacion}
      p #{Emisor.Provincia}, #{Emisor.Canton}, #{Emisor.Distrito}, #{Emisor.direccionExacta}
      p #{Emisor.codigoTelefono} #{Emisor.Telefono}
      p #{Emisor.correo}
    //- section
    //-   h2 Datos del Cliente
    //-   p #{Cliente.nombre}
    //-   p Cédula: #{Cliente.tipoIdentificacion} #{Cliente.identificacion}
    //-   p Email: #{Cliente.email}
    section
      h2 Detalles de la Factura
      p Clave Única: #{KeyXml}
      p Número Consecutivo: #{Consecutivo}
      p Fecha y Hora: #{Fecha}
      p Condición de Venta: #{CondicionDeVenta}
      p Medio de Pago: #{MedioDePago}
    section
      div.table 
        div.thead 
          div.tr
            div.sep
          div.tr
            div.th(style="width: 60%;") Descripción
            div.th(style="width: 40%;") Código
          div.tr
            div.th(style="width: 35%;") Precio
            div.th(style="width: 15%;") Cant.
            div.th(style="width: 35%;") Total
            div.th(style="width: 15%;") IVA
          div.tr
            div.sep
        div.tbody
          each item in LineaDeDetalle
            div.tr
              div.td(style="width: 60%;")(colspan='2') #{item.description}
              div.td(style="width: 40%;") #{item.internal_code}
            div.tr
              div.td(style="width: 35%;") #{item.price}
              div.td(style="width: 15%;") x#{item.quantity}
              div.td(style="width: 35%;") #{(item.quantity * item.price).toFixed(2)}
              div.td(style="width: 15%;") #{item.tax_rate}

    footer
      if OtrosCargos
        h3 Otros Cargos
        // Implementa la lógica para otros cargos aquí
      p.center Emitida conforme lo establecido por la resoliución NO DGT-R-033-2019 del 27 de junio del 2019
      p.center Version 4.3
      // Mensajes opcionales y otros elementos de pie de página



// como crear pfs
// darle formato al pdf html

// crear tabla para personalizacion de factura x company
// crear vista donde puede personalizar


// Factura electronica    Tiquete electronico nota de credito nota de debito 

