doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    title Factura Electrónica
    // Incluir estilos CSS aquí
    <style>
     
    </style>
  body
    header
      h1 #{Emisor.NombreComercial}
      p #{Emisor.nombre}
      p Ced Jur: #{Emisor.tipoDeIdentificacion} #{Emisor.identificacion}
      p #{Emisor.Provincia}, #{Emisor.Canton}, #{Emisor.Distrito}, #{Emisor.direccionExacta}
      p #{Emisor.codigoTelefono} #{Emisor.Telefono}
      p #{Emisor.correo}
    //- section
    //-   h2 Datos del Cliente
    //-   p #{Cliente.nombre}
    //-   p Cédula: #{Cliente.tipoIdentificacion} #{Cliente.idenficacion}
    //-   p Email: #{Cliente.email}
    section
      h2 Detalles de la Factura
      p Clave Única: #{KeyXml}
      p Número Consecutivo: #{Consecutivo}
      p Fecha y Hora: #{Fecha}
      p Condición de Venta: #{CondicionDeVenta}
      p Medio de Pago: #{MedioDePago}
table
  thead
    tr
      th(colspan="2") Descripción
    tr
      th Código
      th Producto
      th Precio
      th Cant.
      th Total
      th IVA
  tbody
    each item in LineaDeDetalle
      tr
        td #{item.internal_code}
        td #{item.description}
        td #{item.price}
        td #{item.quantity}
        td #{(item.quantity * item.price).toFixed(2)}
        td #{(item.quantity * item.price * item.tax_rate / 100).toFixed(2)}

    footer
      if OtrosCargos
        h3 Otros Cargos
        // Implementa la lógica para otros cargos aquí
      p.center Emitida conforme lo establecido por la resoliución NO DGT-R-033-2019 del 27 de junio del 2019
      p.center Version 4.3
      // Mensajes opcionales y otros elementos de pie de página



// como crear pfs
// darle formato al pdf html

// crear tabla para personalizacion de factura x company
// crear vista donde puede personalizar


// Factura electronica    Tiquete electronico nota de credito nota de debito 

