doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    title Factura Electrónica
    // Incluir estilos CSS aquí
    style.
      #{css}
  body
    header.center-items
      p.fontM #{Emisor.NombreComercial}
      p #{Emisor.nombre}
      p Ced Jur: #{Emisor.tipoDeIdentificacion} #{Emisor.identificacion}
      p #{Emisor.Provincia}, #{Emisor.direccionExacta}
      p +#{Emisor.codigoTelefono} #{Emisor.Telefono}
      p #{Emisor.correo}
    section.center-items
      h4 Datos del Cliente
      p #{Cliente.nombre}
      p Cédula: #{Cliente.identificacion}
      p Email: #{Cliente.email}
    section.center-items
    section
      div.table 
        div.thead 
          div.tr
            div.sep
          div.tr
            div.th(style="width: 60%;") Descripción
            div.th(style="width: 40%;") Código
          div.tr
            div.th(style="width: 35%;") Precio
            div.th(style="width: 15%;") Cant.
            div.th(style="width: 35%;") Total
            div.th(style="width: 15%;") IVA
          div.tr
            div.sep
        div.tbody
          each item in LineaDeDetalle
            div.tr
              div.td(style="width: 60%;")(colspan='2') #{item.description}
              div.td(style="width: 40%;") #{item.internal_code}
            div.tr
              div.td(style="width: 35%;") #{item.price}
              div.td(style="width: 15%;") x#{item.quantity}
              div.td(style="width: 35%;") #{(item.quantity * item.price).toFixed(2)}
              div.td(style="width: 15%;") #{item.tax_rate}%
            div.sep2
          div.total
            div.row
              span.label SUBTOTAL
              span.value #{subtotal}
            div.row
              span.label I.V.A
              span.value #{totalIVA}
            div.row
              span.label TOTAL A PAGAR
              span.value #{totalPagar}
    section.center-items
      p #{Fecha}
      p Medio de Pago: #{MedioDePago}
      p.fontXs Tiquete Electronico: #{KeyXml}
      p.fontXs Número Consecutivo: #{Consecutivo}
    footer.center-items
      if OtrosCargos
        h3 Otros Cargos
        // Implementa la lógica para otros cargos aquí
      p.fontXs.my-3 Emitida conforme lo establecido por la resoliución NO DGT-R-033-2019 del 27 de junio del 2019
      p.fontXs Version 4.3
      // Mensajes opcionales y otros elementos de pie de página
      if optional_message1 && optional_message1 !== ''
        p #{optional_message1}
      if optional_message2 && optional_message2 !== ''
        p #{optional_message2}
      if optional_message3 && optional_message3 !== ''
        p #{optional_message3}
      p.bottom-fixed Powered by CommunityHunters.com

